<div class="container-fluid">
  <div class="row">
    <div class = "col-md-6 col-md-offset-3">
      <div class = "inner_show">
        <h1>Please review your order below.</h1>
          <h3>
            <%= "Ordered by #{@order.user.email}" %><br>
            <%= "Order ID: #{@order.id}" %><br>
            <%= @order.product.name + " " + "Quantity: #{@order.quantity}" %><br>
            <%= "Order total: " + number_to_currency(@order.subtotal_price) %><br>
            <%= "Tax: " + number_to_currency(@order.tax) %><br>
            <%= "Total order price: " + number_to_currency(@order.total_price) %><br>
            <%= "Order submitted at: #{@order.strfs_up}" %><br>
          </h3>  
      </div>
    </div>
  </div>
</div>