<div class="container-fluid full">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a href="/">
        <img src="http://zachbosteel.com/wp-content/uploads/2015/05/purplehippologo.png">
      </a>
    </div>
  </div>
    <div class = "row">
      <div class = "col-md-6 col-md-offset-3">
        <div class = "inner_show">
        <h1><%= @product.name %></h1>
        <h2><%= @product.price %></h2>
        <img src = <%= @product.image %>>
        <p class="p1"><%= @product.description %><br><br><%= link_to "Edit this product", "/products/#{@product.id}/edit" %></p> 
        <p class = "p2"><%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %></p>
        </div>
      </div>
    </div>
  </div>
</div>