<div class="container-fluid full">
    <div class = "row">
      <div class = "col-md-6 col-md-offset-3">
        <div class = "inner_show">
        <h1><em><%= @product.supplier.supplier_name %></em> <%=@product.name %></h1>
        <h3>Price: <%= number_to_currency(@product.price) %><br>
        Tax: <%= number_to_currency(@product.tax) %><br>
        Total Cost: <%= number_to_currency(@product.total_price) %></h3>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @images.each do |image|%>
    <div class="item active">
    <%= image_tag image.url %>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        <p class="p1">Updated at: <%= @product.strfs_up %></p>
        <div>
          <p class="p1"><%= @product.sale_message %></p>
        </div>
        <div>
          <p class="p1"><%= @product.in_stock? %></p>
        </div>
        <p class="p1"><%= @product.description %><br>Supplier: <%= @product.supplier.supplier_name %><br><br><%= link_to "Edit this product", "/products/#{@product.id}/edit" %></p> 
        <p class = "p2"><%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %></p>
        </div>
      </div>
    </div>
  </div>
</div>