<div class="container-fluid full">
    <div class = "row">
      <div class = "col-md-6 col-md-offset-3">
        <div class = "inner_show">
        <h1><em><%= @product.supplier.supplier_name %></em> <%=@product.name %></h1>
        <h3>Price: <%= number_to_currency(@product.price) %><br>
        Tax: <%= number_to_currency(@product.tax) %><br>
        Total Cost: <%= number_to_currency(@product.total_price) %></h3>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class = "item active">
    <%= image_tag @images.first.url %>
    </div>
    <% @images.each do |image|%>
    <%  if image == @images[0]
        next
      else %>
        <div class="item">
        <%= image_tag image.url %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        <p class="p1">Updated at: <%= @product.strfs_up %></p>
        <div>
          <p class="p1"><%= @product.sale_message %></p>
        </div>
        <div>
          <p class="p1"><%= @product.in_stock? %></p>
        </div>
        <p class="p1"><%= @product.description %><br>Supplier: <%= @product.supplier.supplier_name %><br><br><%= link_to "Edit this product", "/products/#{@product.id}/edit" if current_user %></p> 
        <p class = "p2"><%= link_to "Add image to this product", "/products/#{@product.id}/new_image" if current_user %></p><br>
        <p class = "p2"><%= link_to "Delete this product", "/products/#{@product.id}", method: :delete if current_user %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class = "col-md-6 col-md-offset-3">
      <div class = "inner_show">
      <h3>Product Categories</h3>
        <ul>
          <% @product.categories.each do |category| %>
            <li><%= link_to category.name, '/products?category=#{category.name}' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% if current_user %>
  <div class="row">
    <div class = "col-md-6 col-md-offset-3">
      <div class = "inner_show">
      <%= form_tag "/shopping_cart?productid=#{@product.id}", method: :post do %>
        <div>
          <%= label_tag :quantity %>
          <%= text_field_tag :quantity %>
        </div>
        <%= submit_tag "Add to Cart" %>
      <% end %>
      </div>
    </div>
  </div>
  <%end%>
</div>
