<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="http://zachbosteel.com/wp-content/uploads/2015/05/purplehippologo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Create New Product", "/products/new" if current_user %><span class="sr-only">(current)</span></li>     
      </ul>
      <%= form_tag "/products", method: :get, class: "navbar-form navbar-right", role: "search" do%>
        <div class="form-group">
          <%= text_field_tag :search, nil, placeholder: 'Search', class: "form_control" %>
        </div>
        <%= submit_tag "Search", class: "btn btn-default", type: "submit" %> 
      <%end%>  
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Out", "/users/sign_out", method: :delete if current_user %></li> 
        <li><%= link_to "Sign Up", "/users/sign_up" if not current_user %></li> 
        <li><%= link_to "Sign In", "/users/sign_in" if not current_user %></li>
        <li><a href="/products?discount=20">Discount Products</a></li>
        <li><a href= <%="/products/#{Product.all.sample.id}"%>>Random Product</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sort Products <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/products?sort=price&order=asc">Sort by Price - Lowest to Highest</a></li>
            <li><a href="/products?sort=price&order=desc">Sort by Price - Highest to Lowest</a></li>
            <li><a href="/products?sort=name">Sort by Name</a></li>
            <li><a href="/products?sort=in_stock">Sort by In Stock</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% flash.each do |name, message| %>
  <div class = "container">
    <div class = "col-md-4 col-md-offset-4">
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p class="flash"><%= message %></p>
   </div>
  </div>
</div>
<% end %>

<%= yield %>

</body>
</html>
